

<div class="modal" id='{{plan.id}}'>
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Subscription payment</p>
      <button class="delete" aria-label="close" (click)="closeModalTab()"></button>
    </header>
    <section class="modal-card-body">
      <div>
        <label for="paymentMethod">Payment Method:</label>
        <select id="paymentMethod" name="paymentMethod" [(ngModel)]="paymentMethod">
          <option value="CreditCard">Credit Card</option>
          <option value="PayPal">PayPal</option>
          <option value="BankTransfer">Bank Transfer</option>
        </select>
      </div>

      <!-- Price Display -->
      <div>
        <h3>Price: {{plan.price}}/month</h3>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="field">
        <div class="control">
          <button class="button is-link" (click)="confirm()">Confirm</button>
        </div>
      </div>

    </footer>
  </div>
</div>



<!-- Price Display --><!-- Price Display --><!-- Price Display --><!-- Price Display --><!-- Price Display -->
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img
        src={{imageSrc}}
        alt="Placeholder image"
      />
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{plan.name}}</p>

      </div>
    </div>

    <div class="content">
      <div>
        <div>
          <b>Price: </b> {{plan.price}}/month
        </div>
        <div>
          <b>Maximum Accommodations: </b>{{plan.accommodationLimit}}
        </div>
        <div>
          <b>Duration: </b>{{plan.duration}}
        </div>


      </div>
      <div class="description">
        <b>Description: </b>{{plan.description}}
      </div>



    </div>
    <div class="columns is-mobile is-centered">
      <div >
        <button class="button is-success" (click)="openModalTab()">Subscribe</button>
      </div>
    </div>
  </div>



</div>
