<div class="box p-6">
    <div class="columns mb-4">
        <button class="button is-info">Add New Accommodation</button>
    </div>




    <hr />
        <div *ngFor="let accommodation of accommodations">
          <browse-card
            [name]="accommodation.name"
            [description]="accommodation.description"
            [address]="accommodation.address"
            [utilities]="accommodation.additionalServices"
            [price]="accommodation.price"
            [rating]="accommodation.raiting"
            [id]="accommodation.id"
            [image]="accommodation.image"
            type="accommodation"
            [showEdit]=true
          ></browse-card>
        </div>

  </div>