<div class="is-flex content is-large my-5 is-justify-content-center">
    <div class="box p-6 min-width-800">

            <article class="message is-danger">
                <div class="message-header">
                  <p>Warning</p>
                  <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">
                    You can delete account only if you don't have reservations in progress or future reservations
                </div>
              </article>

              <div class="columns is-mobile is-centered">
                 <button class="button is-primary" (click)="delete()">Proceed</button>
              </div>

    </div>
</div>



