<div class="content is-medium">
  <h1 class="title">Personal Info</h1>
  <hr />
  <div class="columns p-5">
    <div class="column">
      <div class="mb-6">
        <h4>First Name:</h4>
        <p>{{ client.firstName }}</p>
      </div>
      <div class="mb-6">
        <h4>Last Name:</h4>
        <p>{{ client.lastName }}</p>
      </div>

      <div class="mb-6">
        <h4>Phone:</h4>
        <p>{{ client.phone }}</p>
      </div>
      <div class="mb-6">
        <h4>Address:</h4>
        <p>{{ client.address }}</p>
      </div>
    </div>
    <div class="column">
      <div class="mb-6">
        <h4>Email:</h4>
        <p>{{ client.email }}</p>
      </div>

      <article class="message is-success shadow">
        <div class="message-header">
          <p>Be Motivated With Us</p>
        </div>
        <div class="message-body">
          Welcome to our booking app, where dreams meet plans and aspirations turn into realities! Here, every click represents a step towards your next adventure, your next unforgettable experience. Whether you're booking a vacation, a dinner reservation, or a spa day, remember that each booking is not just a transaction; it's a commitment to creating memories that will last a lifetime. Let this app be your guide, your companion in exploring the world and indulging in life's pleasures. Seize the opportunity to discover new places, savor new cuisines, and pamper yourself with well-deserved treats. Embrace the convenience, embrace the excitement, and let the journey begin. With every booking, you're not just making plans – you're embracing the joy of living fully. Happy booking, and may your adventures be as endless as your imagination!
        </div>
      </article>
    </div>
  </div>
</div>
