<div class="body-wrapper">
    <div class="container content my-6">
      <h1>{{ accommodation.address }}</h1>
      <hr />
      <div class="columns">
        <div class="figure column max-height-600" *ngIf="accommodation.id != ''">
            <app-carousel [images]="accommodation.images"></app-carousel>
        </div>

        <div class="column">
          <h2>{{ accommodation.name }}</h2>
          <hr />
          <div><strong>Owner: </strong> {{ ownerName }}</div>

          <hr />
          <div class="columns is-vcentered">
            <div class="column">
              <div><strong>Guest Limit: </strong> {{ accommodation.guestLimit }}</div>
              <div>
                <span class="tag is-large mt-5 rating"
                  >{{ accommodation.raiting }} <i class="ml-1 fa fa-star"></i
                ></span>
              </div>
              <gap height="20"></gap>
              <div>
                <h4>Price per day: ${{ accommodation.price }}</h4>
              </div>
            </div>
            <div class="column">
              <div class="mb-5">

              </div>
              <div>
                <button
                  class="button is-success is-large"
                  (click)="bookNowButton()"
                >
                  Book now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div>
        <h2>Description:</h2>
        <p>
          {{ accommodation.description }}
        </p>
      </div>
      <hr />
      <div class="columns">

        <div class="column">
          <h3>Additional Services</h3>
          <div *ngIf="accommodation.additionalServices.length == 0">
            <p>No Additional Services.</p>
          </div>
          <div *ngFor="let additionalService of accommodation.additionalServices">
            <app-additional-service [additionalService]="additionalService"></app-additional-service>
          </div>
        </div>

      </div>
      <hr />
      <div class="columns">
        <div class="column" *ngIf="accommodation.address">
          <app-map [address]="accommodation.address"></app-map>
        </div>
      </div>
      <hr />
      <div>
        <app-calendar *ngIf="accommodationsLoaded"
          [availableDates]="accommodation.availabilityPeriods"
          [reservationDates]="accommodation.reservations"
        ></app-calendar>
      </div>

      <hr />
      <h3>Reviews</h3>
      <div *ngIf="reviews.length > 0">
        <div *ngFor="let review of this.reviews">
          <review-card [review]="review"></review-card>
        </div>
      </div>
      <div *ngIf="reviews.length == 0">
        <p>No reviews to show.</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>