<div class="subscription-card">
    <h2>{{plan.name}}</h2>
    <div class="plan-details">
      <p class="price">Price: {{plan.price}}/month</p>
      <p class="max-accommodations">Maximum Accommodations: {{plan.accommodationLimit}}</p>
      <p class="max-accommodations">Duration: {{plan.duration}}</p>
    </div>
    <div class="description">
      <p>{{plan.description}}</p>
    </div>
    <label class="checkbox-container">
      <input type="checkbox">
      <span class="checkmark"></span>
      <p>Subscribe</p>
    </label>
    <p class="terms">By subscribing, you agree to our terms and conditions.</p>
</div>
