<div class="columns db-container">
    <div class="colum is-two-fifths px-6 pt-5 side-menu">
      <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'PERSONAL_INFO' }"
              (click)="changeTab('PERSONAL_INFO')"
              >Personal Info</a
            >
          </li>
          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'SETTINGS' }"
              (click)="changeTab('SETTINGS')"
              >Settings</a
            >
          </li>

          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'SUBSCRIPTIONS' }"
              (click)="changeTab('SUBSCRIPTIONS')"
              >Subscriptions</a
            >
          </li>

          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'MY ACCOMMODATIONS' }"
              (click)="changeTab('MY ACCOMMODATIONS')"
              >My Accommodations</a
            >
          </li>

        </ul>
        <p class="menu-label">Find Reservations</p>
        <ul class="menu-list">
          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'ACCOMODATION_RESERVATIONS' }"
              (click)="changeTab('ACCOMODATION_RESERVATIONS')"
              >Accommodation Reservations</a
            >
          </li>

          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'RESERVATION_REQUESTS' }"
              (click)="changeTab('RESERVATION_REQUESTS')"
              >Reservation Requests</a
            >
          </li>
        </ul>
        <p class="menu-label">Commerce</p>
        <ul class="menu-list">

          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'TRANSACTIONS' }"
              (click)="changeTab('TRANSACTIONS')"
              >All Transactions</a
            >
          </li>

          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'INVOICES' }"
              (click)="changeTab('INVOICES')"
              >Subscription Invoices</a
            >
          </li>
          <li>
            <a
              [ngClass]="{ 'is-active': activeTab === 'DELETE_ACCOUNT' }"
              (click)="changeTab('DELETE_ACCOUNT')"
              >Delete my Account</a
            >
          </li>
        </ul>
      </aside>
    </div>

    <div class="column db-content">
      <div class="hero is-primary">
        <div class="hero-body">
          <p class="title">Welcome, {{ userPersonalInfo.firstName }} {{ userPersonalInfo.lastName }}</p>
          <p class="subtitle">Host Dashboard</p>
        </div>
      </div>
      <div class="m-5">
        <div *ngIf="activeTab == 'PERSONAL_INFO'">
          <app-personal-info [client]="userPersonalInfo"></app-personal-info>
        </div>
        <div *ngIf="activeTab == 'SETTINGS'">
          <app-settings [userId]="userPersonalInfo.id"></app-settings>
        </div>
        <div *ngIf="activeTab == 'ACCOMODATION_RESERVATIONS'">
          <client-guest-reservations

          ></client-guest-reservations>
        </div>

        <div *ngIf="activeTab == 'ADD ACCOMMODATION'">
          <app-add-accommodation></app-add-accommodation>
        </div>
        <div *ngIf="activeTab == 'SUBSCRIPTIONS'">
          <app-host-subscriptions-page></app-host-subscriptions-page>
        </div>

        <div *ngIf="activeTab == 'MY ACCOMMODATIONS'">
          <app-my-accommodations></app-my-accommodations>
        </div>

        <div *ngIf="activeTab == 'RESERVATION_REQUESTS'">
          <app-browse-reservation-requests></app-browse-reservation-requests>
        </div>

      </div>
    </div>
  </div>

